Clases/Clases/XLM,XSD/Agenda.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--3:Tipos simples-->
   <xsd:simpleType name="telefono" >
     <xsd:restriction base="xsd:integer">
     <xsd:pattern value="[678][0-9]{8}">
     </xsd:restriction>
   </xsd:simpleType>
   <!--2:Tipos complejos-->
   <xsd:complexType name="tipoContacto">
        <xsd:sequence>
           <xsd:element name="nombre" type="xsd:string"/>
           <xsd:element name="telefono" type="tipoTelefono" maxOccurs="2"/>
           <xsd:element name="correo" type="xsd:String" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
   </xsd:complexType>
    <xsd:complexType name="tipoAgenda">
        <xsd:sequence>
           <xsd:element name="contacto" type="tipoContacto" minOccurs="0" maxOccurs="unbounded"/>

        </xsd:sequence>
    </xsd:complexType>
   <!-- 1:Elemento raiz-->
   <xsd:element name="agenda" type="tipoAgenda"/>

</xsd:schema>

