Clases/Clases/XLM,XSD/taller.xsd

<!--

Taller Mecánico. Ejercicio de prueba XSD
Requisitos de finalización

En este ejercicio tenemos que definir el esquema de datos XSD para un archivo XML que registre los vehículos que entran en un taller de mecánica.

Descripción de los elementos:

Cuando no se indica el tipo de valor de un elemento o atributo, seleccionar el tipo nativo más ajustado.

    vehiculo: Elemento opcional e ilimitado. Tiene los siguientes hijos:
    entrada: Elemento vacío obligatorio y no se repite, con un atributo obligatorio fecha que debe tener la forma <dos_dígitos_día>-<dos_dígitos_mes>-<cuatro_dígitos_año>
    marca: elemento obligatorio y no se repite. Tiene dos atributos: modelo que es obligatorio y year que es opcional y tiene 4 dígitos numéricos.
    kilometraje: elemento vacío opcional y no se repite. Tiene un atributo obligatorio km que indica el número de kilómetros hasta 1000000.
    matricula: elemento obligatorio que no se repite. Tiene un atributo obligatorio pais con dos letras mayúsculas.
    propietario: elemento obligatorio que no se repite. Tiene un atributo obligatorio empresa que puede tomar el valor true o false. Este elemento tiene los siguientes hijos:
        nombre: Obligatorio y no se repite. El contenido solo puede tener caracteres de nombres españoles.
        direccion: Este elemento es obligatorio, no se repite y contiene los siguientes hijos:
            nombreVia: Obligatorio y no se repite.
            numero: Obligatorio, no se repite y tiene un atributo opcional portal.
            municipio: Obligatorio, no se repite y tiene un atributo obligatorio CP con 5 dígitos numéricos.
            provincia: Obligatorio y no se repite.
        contacto: Obligatorio y no se repite, Tiene los siguientes hijos:
            telefono: Elemento obligatorio y se puede repetir un máximo de 4 veces. Tiene un atributo obligatorio tipo que solo puede tomar los valores fijo o móvil.
            email: Elemento opcional y no se repite. Solo puede tener formato de email.
    intervenciones: elemento obligatorio y no se repite.  Tiene un atributo obligatorio tipo que solo puede tomar los valores reparación o mantenimiento. Tiene los siguientes hijos:
        cambio: elemento vacío opcional e ilimitado que tiene dos atributos obligatorios. elemento formado por cualquier conjunto de caracteres sin espacio y precio que debe tener la forma <números>.<dos_cifras>€
        otro: opcional e ilimitado que contiene los siguientes hijos:
            descripción: elemento obligatorio e ilimitado. Tiene un atributo precio obligatorio con la misma forma que el atributo homónimo del elemento cambio.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- elemento simple -->
<xsd:simpleType name="tipoEmail">
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="[a-z0-9\._-]+@[a-z0-9\._-]+\.[a-z]{2,}"/>
      </xsd:restriction>
    </xsd:simpleType>

<xsd:simpleType name="tipoTelefono">
      <xsd:restriction base="xsd:string">
        <xsd:enumeratin value="fijo">
        <xsd:enumeration value="movil">
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoCP">
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="[0-9]{5}">
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoNombre">
        <xsd:restriction base="xsd:String">
            <xsd:pattern value="[A-Za-záéíóúÁÉÍÓÚÑ"/>
        </xsd:restriction>
     </xsd:simpleType>
     <xsd:simpleType name="tipoPais">
        <xsd:restriction base="xsd:String"/>
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
     </xsd:simpleType>

     <xsd:simpleType name="tipoKm">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="1000000"/>
        </xsd:restriction>
     </xsd:simpleType>
     <xsd:simpleType name="tipoYear">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}"/>
        </xsd:restriction>
     </xsd:simpleType>
     <xsd:simpleType name="tipoFecha">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}-[0-9]{2}-20[2-9][0-9]"/>
        </xsd:restriction>
     </xsd:simpleType>     

    <!-- Elementos Complejos -->


    <xsd:complexType name="tipoContacto">
      <xsd:sequence>
        <xsd:element name="telefono" type="tipoTelefono" maxOccurs="4">
        <xsd:element name="email" type="tipoEmail" minOccurs="8">
      </xsd:sequence>
    </xsd.complexType>

    <xsd:complexType name="tipoMunicipio">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
         <xsd:attribute name="CP" type="tipoCP" use="required"/>
         </xsd:extension>
       </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="tipoNumero">
       <xsd.simpleContent>
          <xsd:extension base="xsd:Integer">
          <xsd:attribute name="portal" type="xsd:string"/>
          </xsd:extension>
       </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="tipoDireccion">
    <xsd:sequence>
    <xsd:element name="nombreVia" type="xsd:String">
    <xsd:element name="numero" type="tipoNumero">
    <xsd:element name="municipio" type="tipoMunicipio">
    <xsd:element name="provincia" type="tipoProvincia">
    </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tipoPropietario">
       <xsd:sequence>
          <xsd.element name="nombre" type="tipoNombre"/>
          <xsd:element name="direccion" type="tipoDireccion"/>
          <xsd:element name="contacto" type="tipoContacto"/>
       </xsd:sequence>
       <xsd:attribute name="Empresa" type="xsd:boolean" use="requerided"/>
     </xsd:complexType>

     <xsd:complexType name="tipoMatricula">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="pais" type="tipoPais" use="required"/> <!--Nos quedamos aqui-->
            </xsd:extension>
        </xsd:simpleContent>
     </xsd:complexType>
     <xsd:complexType name="tipoKilometraje">
        <xsd:attribute name="km" type="tipoKm" use="required"/>
     </xsd:complexType>
     <xsd:complexType name="tipoMarca">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="modelo" type="xsd:string" use="required"/>
                <xsd:attribute name="year" type="tipoYear"/>
            </xsd:extension>
        </xsd:simpleContent>
     </xsd:complexType>
    <xsd:complexType name="tipoEntrada">
        <xsd:attribute name="fecha" type="tipoFecha" use="required"/>
    </xsd:complexType>

     <xsd:complexType name="tipoVehiculo">
<xsd:sequence>
            <xsd:element name="entrada" type="tipoEntrada"/>
            <xsd:element name="marca" type="tipoMarca"/>
            <xsd:element name="kimometraje" minOccurs="0" maxOccurs="1" type="tipoKilometraje"/>
            <xsd:element name="matricula" type="tipoMatricula"/>
            <xsd:element name="propietario" type="tipoPropietario"/>
            <xsd:element name="intervenciones" type="tipoIntervenciones"/>
</xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="tipoTaller">
        <xsd:sequence>
            <xsd:element name="vehiculo" type="tipoVehiculo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
     </xsd:complexType>
    <!-- Elemento Raiz -->
     <xsd:element name="taller" type="tipoTaller"/>
</xsd:schema>

